<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        block app-title
    //- link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
    script(src="../socket.io/socket.io.js")
    script(src="../static/js/main.js")
body
    nav
        div
            a(href= "/home")= "Home"
        div
            a(href= "/superheroes")= "Superheroes"
        if result.user
            if result.user.username
                div
                    a(href= "/superheroes/create")= "Create Superhero"
                div 
                    a(href= "/profile")= "Profile"
                div
                    a(href= "/logout")= "Logout"
        else
            div
                a(href= "/login")= "Login"
            div
                a(href= "/register")= "Register"

    block content