extends _layout

block content
    img(src= result.superhero.image)
    h1= result.superhero.name
    p= result.superhero.secretIdentity
    p= result.superhero.city
    p= "Powers: "
        ul
            each power in result.superhero.powers
                li
                    p= power
    p= "Fractions: "
        ul
            each fraction in result.superhero.fractions
                li
                    p= fraction